@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.card-title{
    font-size: 200%;
    font-weight: 700;
    color: #23415C;
    width: 100%;
}

.landing{
    background-image: url("/images/cards.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body{
    height: 50%;
}

.card-header{
    font-size: 150%;
    font-weight: 600;
    color: #006072;
    width: 100%;
    text-align: center;
}


.btn-success{
    font-size: 120%;
}

footer{
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    background-color: #23415C;
    height:60px;
    padding:  1% 1%;
    color: #FFF;
    line-height: 180%;
    font-weight: 500;
    font-size: 1.2em;
}



.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

